article.resource {
	padding: 0 0 em(36);
	margin: 0 5%;
	border: none;
}
article.resource figure {
	@include box-shadow(0 1px 4px rgba(0,0,0,0.2));
	padding: 0;
	background: #fff;
}
article.resource h2 {
	margin-top: 1em
}
article.primary-featured-resource {
	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	border: none;
	padding: 5%;
	margin-bottom: em(36)
}
article.primary-featured-resource figure {
	@include box-shadow(none);
	border: solid 1px #e6e6e6;
	padding: 0;
}
article.primary-featured-resource figure img,
article.secondary-featured-resource figure img,
article.resource figure img {
	display: block;
}
article.primary-featured-resource p.view-resource {
	margin-bottom: 0
}
article.resource p.resource-type,
article.secondary-featured-resource p.resource-type,
article.primary-featured-resource p.resource-type {
	font-size: em(12);
	margin: 0 0 1.5em;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: $darkgreen;
	font-weight: 700;
	border-top: solid 3px $medgreen;
}

article.clientstories figure {
	padding: 7.5% 15%
}


/* Events */

.upcoming-event.events-list {
	margin: em(24) 0 em(48);
	padding-bottom: em(44);
	border-bottom: solid 1px #e6e6e6
}
.upcoming-event.events-list.single-event {
	margin: 0;
	padding: 0;
	border: none;
}
.upcoming-event.events-list h2 {
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: .5em
}
.upcoming-event.events-list h2 a {
	color: $orange;
}
.upcoming-event.events-list h2 a:hover {
	color: shade($orange,10%);
}

/* Resources Form */

.pardot-form h2 {
	margin: 1em 0 .5em;
}
.form-contain {
	padding: 0
}

/* Careers */

article.career h2 {
	margin-bottom: .25em
}
article.career p {
	margin: 0 0 .75em;
}